extends ../templates/template

block content
    .main
        img(src="./assets/img/logo.svg", alt="Logo").logo
        h1 easy Template
        p Is a library for the development of templates dinamics

        +btn('https://github.com/johancastillo/easy-template', 'Repo in GitHub')